{% extends 'base.html.twig' %}

{% block title %}Autorisation index{% endblock %}

{% block body %}
    <h1>Autorisation</h1>
<div class="table-responsive">
    <table class="table user-table table-hover align-items-center">
        <thead>
        <tr>
                <th>Id</th>
                <th>Fait par</th>
                <th>Date</th>
                <th>Status</th>
                <th>Autoriser</th>
                <th>Refuser</th>
                <th>Suprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for autorisation in autorisations %}
            <tr>
                <td><span class="fw-normal">{{ autorisation.id }}</span></td>
                <td><a href="{{ path('app_employee_show', {'id': autorisation.emploiyee.id}) }}" class="btn btn-success">{{ autorisation.emploiyee.nom }}</a></td>
                <td><span class="fw-normal">{{ autorisation.date ? autorisation.date|date : '' }}</span></td>
                <td>
                {% if autorisation.status is same as(1) %}
                    <span class="fw-normal">En Attente</span>
                {% endif %}
                {% if autorisation.status is same as(2) %}
                    <span class="fw-normal text-success">Autoriser</span>
                {% endif %}
                {% if autorisation.status is same as(3) %}
                <span class="fw-normal text-danger">Refuser</span>
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_aurorisation_yes', {'id': autorisation.id}) }}"><button class="btn btn-outline-success me-2">Autoriser</button></a>
                </td>
                <td>
                    <a href="{{ path('app_aurorisation_no', {'id': autorisation.id}) }}"><button class="btn btn-outline-danger me-2">Refuser</button></a>

                </td>
                <td>
                    {{ include('autorisation/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
