<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
        <div class="user-card d-flex d-md-none justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="avatar-lg me-4"><img src="{{ asset('./assets/img/team/profile-picture-3.jpg') }}"
                                                 class="card-img-top rounded-circle border-white" alt="Bonnie Green">
                </div>
            </div>
            <div class="collapse-close d-md-none"><a href="#sidebarMenu" data-bs-toggle="collapse"
                                                     data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                                                     aria-expanded="true" aria-label="Toggle navigation">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a></div>
        </div>
        <ul class="nav flex-column pt-3 pt-md-0">

            {% if is_granted('ROLE_ADMIN') %}

                <li class="nav-item">
                    <span
                                class="sidebar-icon"><img src="{{ asset('./assets/img/brand/light.svg') }}" height="20"
                                                          width="20"
                                                          alt="Volt Logo"> </span><span
                                class="mt-1 sidebar-text">Administrateur</span>
                </li>
            {% endif %}
            {% if is_granted('ROLE_EMPLOYEE') %}

                <li class="nav-item"><span
                                class="sidebar-icon"><img src="{{ asset('./assets/img/brand/light.svg') }}" height="20"
                                                          width="20"
                                                          alt="Volt Logo"> </span><span
                                class="mt-1 sidebar-text">Employer</span>
                </li>
            {% endif %}


            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item  active ">
                    <a href="{{ path('app_admin') }}" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg"><path
                                    d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path
                                    d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                    </span>
                        <span class="sidebar-text">Dashboard</span>
                    </a>
                </li>



                <li class="nav-item">
                    <a href="{{ path('app_societe_index') }}" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                        </svg>
                    </span>
                        <span class="sidebar-text"> Société</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('app_employee_index') }}" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round"
                                                                      stroke-width="2"
                                                                      d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path></svg>
                    </span>
                        <span class="sidebar-text">Employée</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('app_group_employer_index') }}" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round"
                                                                      stroke-width="2"
                                                                      d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </span>
                        <span class="sidebar-text">Groupe Employée</span>
                    </a>
                </li>

                <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>


                <li class="nav-item">
                    <a href="{{ path('app_autorisation_index') }}" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns=""><path stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path></svg>
                    </span>
                        <span class="sidebar-text">Autorisation</span>
                        <span class="badge badge-sm bg-danger badge-pill notification-count">{{ nb.a()|join(',') }}</span>



                    </a>
                </li>


                <li class="nav-item">
                    <a href="{{ path('app_notification_index') }}" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round"
                                                                      stroke-width="2"
                                                                      d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"></path></svg>
                    </span>
                        <span class="sidebar-text">Notification</span>
                    </a>
                </li>


            {% endif %}

            {% if is_granted('ROLE_EMPLOYEE') %}


                <li class="nav-item">
                    <a href="{{ path('app_demande_aurorisation_index') }}" class="nav-link">
                    <span class="sidebar-icon">
                         <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                              xmlns=""><path stroke-linecap="round" stroke-linejoin="round"
                                             stroke-width="2"
                                             d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path></svg>
                    </span>
                        <span class="sidebar-text"> Demande d'utorisation</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="{{ path('app_notif_recu_index') }}" class="nav-link">
                    <span class="sidebar-icon">
                       <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round"
                                                                     stroke-width="2"
                                                                     d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"></path></svg>
                    </span>
                        <span class="sidebar-text">Notification Recu</span>
                        <span class="badge badge-sm bg-danger badge-pill notification-count">{{ nb.b()|join(',') }}</span>

                    </a>
                </li>

            {% endif %}


        </ul>
    </div>
</nav>
